*,
a,
footer {
  box-sizing: border-box;
  font-family: easyJet Rounded Book, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0px auto;
  /* border: solid 1px red; */
}

h2 {
  font-size: 16px;
  margin-bottom: 20px;
}

/* ---HEADER--- */
header {
  background-image: url(/assets/images/headbar.gif);
  background-size: cover;
  height: 60px;
  font-size: 16px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: white;
}

header > div {
  display: flex;
  align-items: center;
  gap: 25px;
}

header button {
  border: none;
  color: #f70;
  padding: 7px 10px;
  border-radius: 3px;
  background-color: white;
  font-size: 16px;
}

/* Hide by default */
.phone-display {
  display: none;
}

/* ------------- */

/* ---MAIN--- */

/* BEACH */
.beach-section {
  margin-bottom: 20px;
  position: relative;
}
.beach-absolute {
  position: absolute;
  width: 100%;
  height: 430px;
  /* border: 2px solid red; */
  top: 20px;
}
.beach-section img {
  object-fit: cover;
  width: 100%;
  height: 650px;
}
.bookingmenu-container {
  /* border: 3px solid green; */
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.left-column {
  width: 280px;
  height: 430pxs;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.left-column button {
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #f70;
  font-size: 16px;
  align-self: flex-start;
}
.left-column-menu {
  font-size: 50px;
  font-family: easyJet Headline, sans-serif;
}
.left-column > div > p:nth-child(2) {
  /* border: 1px solid red; */
  font-size: 50px;
}
/* BOOKING MENU BOTTOM */
.booking-menu-bottom-absolute {
  position: absolute;
  /* border: 1px solid red; */
  bottom: 0;
  width: 100%;
  height: 130px;
  background-color: rgb(255, 255, 255, 0.7);
}

.bookingMenu-bottom {
  font-size: 13px;
  /* border: 1px solid blue; */
  line-height: 20px;
}

.offers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookingMenu-bottom button {
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #f70;
  font-size: 16px;
  align-self: flex-start;
}
/* _________ */
/* WORLDWIDE-DEFAULT */
.worldwide-default {
  margin-bottom: 20px;
  box-shadow: 0 0 5px #bbb;
  display: flex;
  border-radius: 10px;
  overflow: hidden; /* Overflow Pour cacher les angles de l'image, au lieu de mettre un border radius à l'image... */
}

.worldwide-default > div {
  /* background-color: lightblue; */
  padding: 10px;
}
.worldwide-default p {
  font-size: 13px;
  margin-bottom: 10px;
}
.worldwide-default button {
  background-color: #f70;
  border: none;
  padding: 8px 30px;
  color: white;
  border-radius: 2px;
  align-self: flex-end;
}

.worldwide-default > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.worldwide-default > img {
  width: 640px;
  /* border: solid 3px blue; */
  /* border-radius: 10px 0px 0px 10px; */
}

.worldwide-default > div {
  flex: 1;
}

/* WORLDWIDE */
.worldwide img {
  /* border: solid 6px red; */
  height: 250px;
  object-fit: cover;
  object-position: right top;
  display: block;
}
/* WORLDWIDE2 */
.worldwide2 img {
  /* border: solid 6px blue; */
  height: 250px;
  object-fit: cover;
  object-position: right top;
  display: block;
}

/* CARROUSEL 1 */

.carrousel1 {
  /* border: solid 1px red; */
  height: 383px;
  display: flex;
  gap: 18px;
  overflow: scroll;
  margin-bottom: 20px;
}
.carrousel1::-webkit-scrollbar {
  display: none;
}
.card {
  /* border: solid 1px blue; */
  margin-left: 2px;

  border-radius: 10px;
  width: 300px;
  height: 370px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: 0 0 5px #bbb;
}
.card img {
  /* border: solid 1px green; */
  width: 100%;
  height: 140px;
  object-fit: cover;
  display: block;
}

.card > div {
  /* border: solid 1px green; */
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card button {
  position: absolute;
  bottom: 15px;
  /* margin-left: 10px; */
  background-color: #f60;
  border: none;
  padding: 8px 30px;
  color: white;
  border-radius: 4px;
  font-size: 14px;
}

/*TRIPLE IMAGES*/

.container-images {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.container-images img {
  border-radius: 5px;
  object-fit: cover;
  display: block;
  height: 220px;
  width: 285px;
  box-shadow: 0 0 5px 0;
}
.test2 {
  position: relative;
}
.test2 > div:nth-child(2) {
  position: absolute;
  /* border: solid 1px red; */
  color: white;
  font-size: 30px;
  padding: 10px;
  margin-left: 10px;
  width: 240px;
  top: 10px;
}
.test2 div:nth-child(3) {
  position: absolute;
  /* border: solid 1px red; */
  color: white;
  font-size: 15px;
  padding: 10px;
  margin-left: 10px;
  top: 180px;
}
/* CARROUSEL 2 */

.carrousel2 {
  /* border: solid 1px red; */
  margin-bottom: 50px;
}
.carrousel2 h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.carrousel2 > menu {
  display: flex;
  overflow: scroll;
  gap: 20px;
}

.carrousel2 > menu::-webkit-scrollbar {
  display: none;
}

.carrousel2 div {
  /* border: solid 1px red; */
  height: 145px;
  width: 145px;
  font-size: 13px;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 10px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.carrousel2 div i {
  font-size: 32px;
  align-self: center;
}

.carrousel2 div:hover {
  background-color: #f70;
  cursor: pointer;
}

/* FOOTER */
footer {
  background-color: #f2f2f2;
}

.list {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.fly-infos {
  display: flex;
  flex-direction: column;
}
.fly-infos a {
  margin-top: 5px;
  text-decoration: none;
  color: #9e9e9e;
  font-size: 10px;
}
.fly-infos p {
  margin-bottom: 10px;
  color: #433e3e;
}
/* POINTS DE RUPTURE */

/* ==== A 1115px ==== */
@media (max-width: 1115px) {
  .hidden-1115 {
    display: none;
  }
}

/*  A 960px */
@media (max-width: 960px) {
  .worldwide-default {
    width: 630px;
    flex-direction: column;
  }
  .display-960 {
    width: 630px;
    /* border: 3px solid red; */
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
  }
  .third-element {
    /* border: 1px solid blue; */
    width: 100%;
  }
  .third-element img {
    /* border: 1px solid red; */
    width: 100%;
    object-position: top;
  }
  .padding-960-670 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* ===== A 670px =====*/
.white-icon {
  color: white;
}
@media (max-width: 670px) {
  .phone-display {
    display: inline;
  }
  .hidden-670 {
    display: none;
  }
  .bookingmenu-container {
    justify-content: center;
  }
  .visibility-hidden {
    visibility: hidden;
  }
  .beach-section {
    background-color: #f2f2f2;
  }
  .booking-menu-bottom-absolute {
    background-color: white;
  }
  .fly-infos a {
    display: none;
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .worldwide-default {
    width: 300px;
  }
  .third-element img {
    width: 285px;
  }

  .display-960 {
    width: auto;
    flex-wrap: nowrap;
    overflow: scroll;
    gap: 10px;
  }
  .display-960::-webkit-scrollbar {
    display: none;
  }
}
.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}
